<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 am</td>        <!-- time    -->
        <td>The Unix Shell: Introducing the Shell, Navigating Files and Directories, Working With Files and Directories, Pipes and Filters</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>The Unix Shell (continued): Loops, Shell Scripts, Finding Things</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00 am</td>        <!-- time    -->
        <td>Version Control with Git: Automated Version Control, Setting up Git, Creating a Repository, Tracking Changes, Exploring History, Ignoring Things</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:00 pm</td>        <!-- time    -->
        <td>Version Control with Git (continued): Remotes in GitHub, Collaborating, Conflicts</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00 am</td>        <!-- time    -->
        <td>Plotting and Programming in Python: Running and Quitting, Variables and Assignment, Data Types and Type Conversion, Built-in Functions and Help</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td><1:00 pm/td>        <!-- time    -->
        <td>Plotting and Programming in Python (continued): Libraries, Reading Tabular Data into DataFrames, Pandas DataFrames</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>10:00 am</td>        <!-- time    -->
        <td>Plotting and Programming in Python (continued): Plotting, Lists, For Loops, Conditionals</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00 pm</td>        <!-- time    -->
        <td>Lunch Break</td>        <!-- content -->
      </tr>
      <tr>
        <td>1:00pm</td>
        <td>lotting and Programming in Python (continued): Looping over Data Sets, Writing Functions, Variable Scope</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
